*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    color: antiquewhite;
}

.card{
    width: 100%;
    max-width: 470px;
    background: linear-gradient(135deg,#790850,#3d1f4d);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}


.search{
    display: flex;
    align-items:center ;
    width: 100%;
    justify-content: space-between;
}

.search input{
    flex: 1;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

    

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;


}

.search button img{
    width: 16px;
}

.weather{
    align-items: center;
    
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
    
 }

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}

.col6{
    display: flex;
    align-items: center;
    text-align: left;
}

.l1,.l2{
    margin: 0;
    padding: 0;
    list-style: none;


}

li,ul{
    padding: 0;
    margin: 0;
    padding-bottom: 0;
}

.col6 img{
    width: 40px;
    margin-right: 10px;

}

.humidity,.wind{
    font-size: 20px;
    margin-top: -6px;

}
.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;

}
